:host {
  > * {
    margin-block-start: var(--stack, var(--space-xs, 1em));
  }
}

.pill {
  display: inline-flex;
  inline-size: 100%;
  border: 1px solid currentcolor;
  border-radius: 2rem;
  gap: var(--space-xs);
}

.category-score {
  margin-inline-start: auto;
}
