:host {
  min-inline-size: 18rem;
  flex: 1 1 0;
  background: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
}

.result {
  min-block-size: 100%;
  font-weight: 500;
  color: #CAC9FF;
}

.score-wrapper {
  display: grid;
  max-inline-size: 12rem;
  aspect-ratio: 1;
  border-radius: 9999px;
  place-items: center;
  background: linear-gradient(180deg, #4D21C9 0%, rgb(37 33 201 / 0%) 100%, rgb(37 33 201 / 0%) 100%);

  .score {
    font-size: calc(var(--font-size-4) * 1.5);
    font-weight: 900;
    line-height: 1;
    color: var(--clr-neutral-light);
  }
}
